.root {
    -fx-font-size: 15pt;

}

.tab-pane > .tab-header-area > .headers-region {
    -fx-border-color: #666666;
    -fx-border-radius: 5 5 0 0;

}


.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-background-color: #666666;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFF88;
    -fx-border-color: #666666;
    -fx-border-width: 4px 0 0 4px;
    -fx-padding: 0px 0 0 0px;
    -fx-border-radius: 5 5 0 0;

}

.tab-pane > .tab-header-area > .headers-region > .tab:selected:top {
    -fx-border-color: #666666, #666666 transparent transparent #666666;
    -fx-border-insets: 0, 0 0 0 2;
    -fx-border-width: 4px 4px 0 4px;
    -fx-padding: 2px 0 0 0;
    -fx-border-radius: 5 5 0 0;

}


.list-view {
    -fx-border-color: #666666;
    -fx-border-radius: 5 5 5 5;
    -fx-border-width: 4px 4px 4px 4px;
}


.list-cell: filled: selected: focused, list-cell: filled: selected {
    -fx-background-color: #FFFF88;
    -fx-text-fill: #1B9DE3;
    -fx-font-weight: bold;
    -fx-text-strikethrough: true;

}

.list-cell: odd {
    -fx-background-color: #FFFFFF;
}

.list-cell: even {
    -fx-background-color: #B8B8B8;
}

.text-field {
    -fx-background-color: #FFFF88;
}

.button {

    -fx-background-color: #666;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFF88;
    -fx-font-size: 17pt;
}