.menu:hover, .menu:showing, .menu-item:focused {
    -fx-background-color: #2d3741;
 }

// menu bar AND(,) drop-downs from menu bar
.menu-bar, .context-menu {
    -fx-background-color: #15202b;
}

// all labels that BELONG to the menu
.menu .label {
    -fx-text-fill: #fff;
}

.vbox, .list-view {
    -fx-background-color: #273e51;
}

.list-cell: filled: selected: focused, list-cell: filled: selected {
    -fx-background-color: #506f8d;
    -fx-text-fill: #e3e2e0;
}

.list-cell: odd {
    -fx-background-color: #6a9ac8;
}

.list-cell: even {
    -fx-background-color: #7babd9;
}

.grid-pane {
    -fx-background-color: #273e51;
}

.grid-pane .label {
    -fx-text-fill: #fff;
}

// to get rid of the white color around the button image
.button {
    -fx-background-color: #273e51;
}